[user]
	name = Nick DeGroot
	email = 1966472+nickthegroot@users.noreply.github.com

[github]
	user = nbd9

[core]
	excludesfile = ~/.dotfiles/.gitignore
	editor = code --wait
[init]
	templatedir = ~/.dotfiles/GitHooks
