[user]
	name = Nick DeGroot
	email = 1966472+nickthegroot@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDQiodjunhvMZl0GRixXNkML0iFZsXgax3PjmVLV+0AJ

[github]
	user = nickthegroot

[credential "https://github.com"]
	helper = !gh auth git-credential

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

[core]
	excludesfile = ~/.dotfiles/.gitignore
	editor = code --wait
	pager = delta

[init]
	templatedir = ~/.dotfiles/GitHooks
	defaultBranch = main

[pull]
	rebase = true

[push]
	default = current

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
