# Default cruft
*~
._*
.DS_Store
.idea
.vscode

# Computer/Company specific aliases.
.aliases.*
!.aliases.default

# Computer/Company specific exports
.exports.*
!.exports.default

# Brew locks
Brewfile.lock.json